# Starting with variable

#We can directly create variables without specifying a data type, as in languages such as C, C++, and Java. Example:

In [1]:
num = 10

In [ ]:
print(num)

Here you can see one interesting thing: we don't use a semicolon at the end of a statement, which is a convenient feature in Python. If you use a semicolon, it will not give you an error. However, Python is an indentation-sensitive language, and we will learn about indentation later

# more about variable

In [80]:
name = 'Sohag' # For strings, we use both single and double quotation marks

In [4]:
weight = 5.5

In [81]:
is_raining = True  # In Python, Boolean values start with capital letters: True and False.

In [6]:
statment = None #this in none data type

In Python, there are naming conventions for declaring variables.

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

# Assigning multiple values

Now we will learn about printing and user input. In Python, for printing, we use the print() function. For getting user input, we use the input() function.

In [82]:
# Printing using print()
print("Hello, welcome to Python!")

# Getting user input using input()
name = input("Please enter your name: ")
print("Hello,", name, "Nice to meet you!")

Hello, welcome to Python!
Please enter your name: Sohag
Hello, Sohag Nice to meet you!

In [85]:
name, age, gender, adult, weight = 'Sohag', 27, 'male', True, 66.5

In [86]:
print(name, age, gender, adult, weight)

Sohag 27 male True 66.5

# Global variable

When you declare a variable outside of a function, this variable is global. A global variable means it is accessible from any part of the code. For example:

In [9]:
name = "Sohag"
def print_name():
    print(name)
    
print_name()

Sohag

In this piece of code, `name` is a global variable because it is declared outside of the `print_name` function but inside the `main` function.

In [10]:
def print_age():
    user_age = 27
    print ( user_age)
    
print_age()

27

Here, the user_age variable is inside the print_age function. It is in local scope, so it is a local variable. You cannot access the user_age variable outside the print_age function. Let's see an example:

In [ ]:
print( user_age)

here you can see it's give the NameError and the status is user_age is not define.

But there is a keyword that allows us to convert a local variable to a global variable. This keyword is `global`. Let's dive into the example.

In [ ]:
def print_gender():
    global user_gender
    user_gender = 'male'
    
print_gender() 
print (user_gender);

Note: In Python, you cannot assign a value to a global variable directly using a single line like `global user_name = 'Sohag';`. This will result in a syntax error.

# Python Data Types

In Python, there are several fundamental data types that represent different kinds of data. We have already covered integer, float, string, boolean, and None types. In this course, we will also explore list, tuple, set, and dictionary types in subsequent sections. Each of these data types serves distinct purposes for storing and manipulating data in Python programming.

In [87]:
print(type(name))  # The variable name is already declared at the top of the code; do not be confused.

<class 'str'>

print("<class 'str'> - 'str' signifies the string class in Python, which is a fundamental pre-defined class. We will delve deeper into Python classes later.")
print("<class 'str'> - In this line, 'class' is a keyword in Python, indicating its object-oriented nature. Here, 'str' again denotes the string class.")

In [ ]:
print(type(age)) #

In [ ]:
print(type(statment)) #statment   variable is alreay declear top of the code, not be confused.

# Python Casting

In simple terms, type casting means changing the variable type. Let's see a few examples.

In [ ]:
id = 123
gpa = 3.5

In [ ]:
float(id)

Here you can see the output of `float(id) = 123.0`, which converts the variable `id` into a float type. However, the initial type of the `id` variable does not change.

In [ ]:
print(id)

In [ ]:
newId =  str(id)

In [ ]:
print(type(newId))

Here, the output shows that the type of `newID` is string. It's quite interesting, isn't it?

# Let's generate random numbers

In [ ]:
import random

# Generate and print a random number between 1 and 9 (inclusive of 1 but exclusive of 10)
print(random.randrange(1, 10))

In [ ]:
print(random.randint(1,10)) # it will be generated random number include 10

# let's play with Strings

We already know that in Python, strings can be declared using both single and double quotation marks. For example:

In [ ]:
welcome = "Welcome to python crash course! "
thanks = 'thank you for your patience'  # Both are correct
print(welcome)

If we need to write a multiline message in Python, using single ('...') or double ("...") quotation marks directly for multiline content will typically result in a syntax error. To correctly define multiline strings without encountering errors, Python provides the option to use triple double quotes ("""..."""). Let's see how this works.

In [ ]:
message = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(message)

Python string maintain indexing rule. Don't be confued. I will clear every thing. 
let declare a string variable language = 'Python'
indexing rule start with 0 to length of sting minus one. 
That means Python makes with 6 letters so length of Python is 6 or variable of language is 6 as language contain the 
value as python. 
As I said indexing rule start with 0. For python total index will be 0 to 5. 0, 1, 2, 3, 4, 5.
in index 0 will contain P, of clarity 0=P, 1=y, 2=t, 3=h, 4=o and 5=n; 
If we see the coding example It will more clear.

In [ ]:
language = 'Python'

In [ ]:
language[0] #It means index of 0 language variable

In [ ]:
language[0], language[1] ,language[2] ,language[3] ,language[4] ,language[5]

We can access from last of the string. It start from -1 to -length
For example

In [ ]:
language[-1], language[-2], language[-3], language[-4], language[-5], language[-6]

hope you understood

We can check if any character or word is present in a sentence

In [ ]:
if "t" in "python":   #dont confesued with if and in this a python condition, we will learn deeply later.
    print('yes!')

In [ ]:
if 'love' in 'I love python':
    print('yes!')

We can slice string

In [ ]:
language[2:5] #[from : to]

In [ ]:
language[2:] # it will slice from index 2 to end of the string

In [ ]:
language[:-1] # it print the full string because there are not mentioned the start index so by default it will start from o first index

We can modify the string

In [ ]:
fruit = 'Apple'

In [ ]:
fruit.upper() #this method return the uppercase

In [ ]:
fruit.lower() #this method return the lowercase

we can remove whitespace from a sentence

In [ ]:
note = "     this node for my friends who loves me    "

In [ ]:
note

In [ ]:
note.strip()

we can replace string with another string, also replace word and character

In [ ]:
note.replace('loves', 'hates')

In [ ]:
note.replace('loves', 'hates').strip()

we can split the string

In [ ]:
note.split()

There are lost of method, folow the python doc.

Let's know how to Concatenation multiple variables and values.

In [ ]:
newMsg = note + "Sohag"

In [ ]:
print (newMsg)

In [ ]:
newMsg = note + str(5)   #we can also Concatenation string and integer, but we should convert to string

In [ ]:
print(newMsg)

Now we will learn How to formate string.

In [ ]:
first_name = 'Sohag'
last_name = 'Ahmed'
msg = f"Hello {first_name} {last_name}"
print(msg)

If you want to "print" this line. how we will print?

there is a solution for printing this type sentense. We will use Escape'\' operator

In [ ]:
msg = 'If you want to \"print\" this line.'

In [ ]:
print(msg)

# Python Operators

Python operations are basically used to perform different operations on variables and values.

In [ ]:
print(4+4) # this is one kind of operation

let's drive into the deep

First we will learn about arithmetic operation.

arithmetic operation is like normal calculation.
+ Addition	 
-	Subtraction
*	Multiplication	
/	Division	
%	Modulus	 it returns 
**	Exponentiation	 it returns the power
//	Floor division	 it returns the floor value of division

In [ ]:
5+5

In [ ]:
10-8

In [ ]:
3*3

In [ ]:
8/2

In [ ]:
2**3

In [ ]:
15/2

In [ ]:
10%2

now we will learn about Python Assignment Operators

In [ ]:
a = 5  #Assignmet operation

In [ ]:
a += 3 # its like a = a + 3 note: its like for -, *, /, %, //...
# It will throw error is you separate like this + =, it must right +=. There will not any error between this operator.

In [ ]:
print(a)

In [ ]:
a%= 3

In [ ]:
a

In [ ]:
a ** 3 # its like a ^ 3 (2*2*2)

Let's move into the Python Comparison Operators.

In [ ]:
# == checks if two values are equal; returns True if equal, else False
5 == 10

In [ ]:
5==5

#  != it's check is it not equal or not, it is oposite of ==

In [ ]:
10 != 5

In [ ]:
# > Greater than; returns True if the left operand is greater than the right operand, else False

In [ ]:
10 > 3

In [ ]:
# < Less than; returns True if the left operand is less than the right operand, else False

In [ ]:
10 < 3

In [ ]:
# >= greater or  equal, it will check two times, this expression means (a = b) or (a > b) if any of one is true then it will 
#give true

10 >= 3

#Now we will learn about Python Logical Operators
and
or 
not

In [ ]:
#and Returns True if both statements are true
x = 3
x < 5 and  x < 10

In [ ]:
# or Returns True if one of the statements is true
x < 5 or x < 4

In [ ]:
#not Reverse the result, returns False if the result is true
not(x < 5 and x < 10)

Now we will learn about Python Identity Operators
is 
is not

The is keyword checks if two variables refer to the same object in memory. If they do, it returns True; otherwise, it returns False. Conversely, the is not keyword checks if two variables refer to different objects. If they do, it returns True; otherwise, it returns False.

In comparison, the == operator checks if two variables have the same value, regardless of whether they are the same object.

In [ ]:
#Let drive into example for better understanding.

x = 257
y = x
z = 257

In [ ]:
x is z #this ans will be flase because x and z value is same but they are not refering same object in memory

In [ ]:
x is y # it will retrun true because there are refer to the same object in memory

In [ ]:
x == z # it will return true because there value is same. == operator consern about value

In [ ]:
# let's see another example 
a = 10
b = a
c = 10

a is c

You are confused right haha, let me clear the concept. 
Python caches small integers, typically in the range from -5 to 256. When you assign these values to variables, they point to the same memory location.
In our example, 10 is within this range, so all three variables (a, b, and c) point to the same cached integer object.

is not is opposite of is, this is your task try it

Operator Precedence in python is like regular mathematics

# List

Lists are used to store multiple items in a single variable. List can hold any type of data together.

In [ ]:
animal = ['Lion', 'Tiger', 'Elephent', 'Cat', 'Dog']
print(animal)
mixData = ['Sohag', 123, True, None, 4.4]
print(mixData)

List Item are indexed like string.
animal[0] = 'Lion'
animal[1] = 'Tiger'
we can access from -1 also

In [ ]:
animal[-1]

as I said List can hold any type of data, so List can hold List, Tuple, set and dictorany also. 
When List hold another List then we will say Nested List.

In [ ]:
lists = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11,12, 13, 14, 15]]

In [ ]:
#inside the list every child list maintain indexing. Like list[0] = [1, 2, 3, 4, 5]

print(lists[0])

In [ ]:
#If we want to access child list item then we need to target the child list first then item of the child list

print(lists[0][3])

we can make more nested like 3D, 4D, ... nD

In [ ]:
#we can see the length of a list

In [ ]:
len(animal)

In [ ]:
# we can slice items like string 
animal[2:-1]

Now we will se how to add item in list

In [ ]:
num_List= [1, 2, 3, 4, 5, 6]

In [ ]:
#using append method, append add from the last of the list

num_List.append(7)
print(num_List)

In [ ]:
#we can aslo add item at perticular index, using insert() method
# insert() method takes two peremeter, first index number where we want to insert  and second  item.
num_List.insert(4, 10)
print(num_List)

here you can se 10 is inserted at the 4th index

As we can insert items, so we can remove items. using remove(), pop(), clear()
remove() method takes perticular item which you want to remove form list
pop() method remove item form last of the list, and
clear() method clear the whole list
let's move into the example for better understanding

In [ ]:
num_List.remove(10)
print(num_List)

here you can se 10 is removed form the list

In [ ]:
num_List.pop()
print(num_List)

The last items was 4 and 4 is removed

In [ ]:
num_List.clear()
print(num_List)

Here you can se there no Item inside the list

In [ ]:
#we can also delete the list

del num_List
print(num_List) # it will throw error because this list is deleted

notice clearfully the error. num_list is not define. that means this list are not avilable.

In [ ]:
#loop in pyton. A loop repeatedly executes a block of code if condition is true (we will deeply understand about loop later)
num_List = [1, 2, 3, 4, 5]

for num in num_List:
    print(num)

# There are several way to using loop in list, when you will ulderstand then you can understood by yourself how to apply

In [ ]:
# your can sort a list asending or desending order as you want

In [ ]:
num_List = [2, 5, 10, 8, 7, 3, 6, 9, 1]
num_List.sort()

In [ ]:
num_List

In [ ]:
num_List.sort(reverse = True)
num_List

In [ ]:
#You can copy list using copy()  method
newList = num_List.copy()
newList

In [ ]:
#we can join multiple list 
#example
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
joinedList = list1+list2
print(joinedList)

# Python Tuples

A tuple is another data type used to store multiple items. Tuples are ordered and immutable, meaning once assigned, their elements cannot be changed or modified.
It is also indexed, we can access by using index number.

In [ ]:
myTuple = ("apple", "banana", "cherry" )

print(myTuples)

We know tuples are immutable or unchangeable. If we need to change a tuple, we can convert it to a list, make the necessary changes, and then convert it back to a tuple.

In [ ]:
temp = list(myTuple)  # now myTuples converted to list, now we can modify it and again we can convert to tuple
temp

In [ ]:
temp.append('orrange')

In [ ]:
myTuple = tuple(temp)

In [ ]:
print(myTuple)

the tuple is updated now


"Now, let's learn about Unpacking Tuples. When we create a tuple, it's packed with values. We can then unpack tuples (similar to array destructuring in JavaScript), which allows us to assign different values to different variables."

In [ ]:
(var1, var2, var3, var4) = myTuple

In [ ]:
print(var1)

Look the var1 variable stored apple.

In [ ]:
# In unpacked there a special sing '*' let's see few examples then you will understand
(var1, var2, *var3) = myTuple

In [ ]:
print (var1)
print(var2)
print(var3)

Notice the output of this code, var1 and var2 stored single value,
but var3 store the rest of the elements and stored as list.

In [ ]:
(var1, *var2, var3) = myTuple # var1 and var3 will store single items of tuple, means var1 will first item and var3 will store last item. and the rest of item will store var2 variable 

print (var1)
print(var2)
print(var3)

Hope you understood!

Tuple loop and join as like as list, to do practise

# Python Sets

Sets are another data type used to store multiple unique values in a single variable. Sets are unordered (they do not have indices) and mutable (but their elements must be immutable).

In [ ]:
my_sets = {1, 2, 2, 3, 4, 4, 5}

In [ ]:
print(my_sets)

In [ ]:
for x in my_sets:
    print(x)

Now, let's delve into how we add, remove, and update values in sets. You might be feeling a bit confused because I previously mentioned that sets are immutable. Here's the clarification: sets themselves are mutable, meaning we can modify their contents by adding or removing items. However, the critical point is that while sets can be changed, their individual items must be immutable. This means once an item is added to a set, you cannot directly modify it. Sets do not support indexing, so you cannot access elements by their position as you would in a list. Instead, to update a set, you must remove the existing item and add a new one. It's important to note that sets can only contain immutable items. This constraint ensures the integrity of set operations, facilitates efficient membership testing, and maintains the uniqueness of elements within the set.

In [12]:
fruits = {"apple", "banana", "cherry"}
fruits.add('mango')
print(fruits)

{'apple', 'banana', 'cherry', 'mango'}

In [13]:
new_fruits_set = {'guava', 'pineapple', 'watermelon'}

In [14]:
fruits.update(new_fruits_set)

In [15]:
print(fruits)

{'apple', 'cherry', 'mango', 'watermelon', 'guava', 'pineapple', 'banana'}

In [16]:
fruits.remove('guava') #If the item to remove does not exist, remove() will raise an error.
print(fruits)

{'apple', 'cherry', 'mango', 'watermelon', 'pineapple', 'banana'}

In [17]:
fruits.discard('guava') #If the item to remove does not exist, discard() will NOT raise an error.
print(fruits)

{'apple', 'cherry', 'mango', 'watermelon', 'pineapple', 'banana'}

In [18]:
fruits.pop() # its return the revoed item

'apple'

we can clear and delete the sets like list aslo join the multiple sets

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs, and can be referred to by using the key name.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [19]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [20]:
print(car["brand"]) #There is also a method called get() that will give you the same result:

Ford

In [21]:
print(car.get('brand'))

Ford

If you wanna to see the all keys and values saparately of the dictionary you can.Using keys()  and values() method.
Let's see how

In [22]:
print(car.keys())

dict_keys(['brand', 'model', 'year'])

In [23]:
print(car.values())

dict_values(['Ford', 'Mustang', 1964])

In [24]:
# dirctionary is muteable so you can update tergeting its key
car['brand'] = 'tesla'

In [25]:
print(car)

{'brand': 'tesla', 'model': 'Mustang', 'year': 1964}

In [26]:
#you can update new key and value

car.update({'color':'red'})
car.update({'price': '$1200', 'edition': 'latest'}) #you can also update multiple items together
print(car)

{'brand': 'tesla', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'price': '$1200', 'edition': 'latest'}

In [27]:
#we can remove item  using pop, remove, clear methods 
car.pop('price') # it's remove item which you want
print(car)

{'brand': 'tesla', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'edition': 'latest'}

In [28]:
car.popitem() #its remove the last item

('edition', 'latest')

In [29]:
tem = car #its referace the address. If you update by tem then car also updat

In [30]:
tem['year']  = 2024
tem.update({'country':'USA'})

In [31]:
car

{'brand': 'tesla',
 'model': 'Mustang',
 'year': 2024,
 'color': 'red',
 'country': 'USA'}

In [32]:
tem

{'brand': 'tesla',
 'model': 'Mustang',
 'year': 2024,
 'color': 'red',
 'country': 'USA'}

In [33]:
# You can make a copy of dictionary using copy() method

newCar = car.copy()

In [34]:
print(newCar)

{'brand': 'tesla', 'model': 'Mustang', 'year': 2024, 'color': 'red', 'country': 'USA'}

In [35]:
newCar.popitem()
print(newCar)

{'brand': 'tesla', 'model': 'Mustang', 'year': 2024, 'color': 'red'}

In [36]:
car

{'brand': 'tesla',
 'model': 'Mustang',
 'year': 2024,
 'color': 'red',
 'country': 'USA'}

 look car and newCar totally diffrent dictorany

you can make nested dictionary

In [37]:
fast_food = {
    'Burger': '$3',
    'Pizza': '$5',
    'Nachos': '$2.3',
    'Hot Dog': '$2.5',
    'Fries': '$1.5'
}

In [38]:
desserts = {
    'Ice Cream': '$2',
    'Brownie': '$3',
    'Cake': '$4',
    'Donut': '$1.5',
    'Cupcake': '$2.5'
}

In [39]:
beverages = {
    'Coke': '$1.2',
    'Pepsi': '$1.2',
    'Lemonade': '$1.5',
    'Iced Tea': '$1.8',
    'Coffee': '$2.0'
}

In [49]:
food = {
    'category1' : fast_food,
     'category2' : desserts, 
     'category3' : beverages
}
# this is a nested dictonary

In [50]:
# Debug prints to check the structure and types
print("food['category1']: ", food['category1'])
print("Type of food['category1']: ", type(food['category1']))

food['category1']:  {'Burger': '$3', 'Pizza': '$5', 'Nachos': '$2.3', 'Hot Dog': '$2.5', 'Fries': '$1.5'}
Type of food['category1']:  <class 'dict'>

In [51]:
# Access a nested dictionary value
print("food['category1']['Pizza']: ", food['category1']['Pizza'])

food['category1']['Pizza']:  $5

# Python Conditional

Python conditionals utilize three key words: if, elif, and else. A conditional in Python is a block of code where the first line contains a condition. If this condition evaluates to true, the subsequent code within that block executes. This structure allows for controlled execution paths based on varying conditions within a program.

In [52]:
# if condition 
# Afrer if there will be condition
if True:
    print('Hello ')

Hello

In [53]:
if 2<5:
    print('2 is smaller then 5 ')

2 is smaller then 5

In [55]:
#you can use nested if 
if 5 > 3:
    if 5 < 10:
        print('5 is bigger then 3, and smaller then 10')

5 is bigger then 3, and smaller then 10

In [ ]:
# elif 
# when if condition is false, and if you want to add more condition then use 'elif'
if 5 > 10:
    print('5 is bigger then 10')
elif 5 < 10 :
    print ('5 is smaller then 10')

In [57]:
#else 
#else don't take any condition, when all conditions are not match then exicute the else block

if 5 > 10:
    print('Condition matched!')
else:
    print('Condition not matched')

Condition not matched!

# Python Loops

A loop in programming repeats a set of instructions until a certain condition is satisfied.
Python has two primitive loop commands:

while loops
for loops

In [60]:
 #while loop in Python keeps running a block of code as long as a condition stays true.
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

The for loop Python is used to loop over a sequence (like a list, tuple, string, or range) and execute a block of code for each element in the sequence.

In [61]:
# Example of using 'for' to iterate over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

There are two important keywords in Python loops: break and continue. These keywords play crucial roles in controlling the flow of execution within loops.

#The break keyword in Python is used to exit a loop prematurely, regardless of whether the loop's condition is still true.

#The continue keyword in Python is used to skip the current iteration of a loop and continue with the next iteration.

In [62]:
# Example of using 'break' in a loop
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)
    if number == 3:
        break

1
2
3

In [63]:
# Example of using 'continue' in a loop
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number == 3:
        continue
    print(number)

1
2
4
5

# Python Functions

#function is a block of code, when you call it then the function will execute.  
in python using #def keyword declaer function

In [64]:
def print_msg ():
    print('Hello we are learning Python')  #  # this is function declaration

In [65]:
print_msg() # this is function call

Hello we are learning Python

In [66]:
# you can pass parameter
def add(a, b): # a and b is parameter
    print(a+b)

add(10, 12)  # 10, 12 is arguments

22

# return keyword 
In Python, return is used to end a function's execution and send a value back to the caller.

In [69]:
def sub(a,b):
    return a - b

result = sub(10, 5) #sub(10, 5)will retun 10-5 result 
print(result)

5

In [ ]:
add(10, 20, 30)

Why do we get an error? Because you passed 3 arguments, but during declaration, you added only 2 parameters. That's why it throws an error. If we face this situation where we don't know how many arguments will be passedwhether it's 3, 5, or morethen we can declare the function using the '*' symbol to handle variable numbers of arguments.

In [77]:
def add_num(*a):
    sum = 0
    for num in a:
        sum = sum + num
    print(sum)
    

add_num(2,3,4,3,4,6,7,22,34,12)

97

In [ ]:
# you can pass as agrumets list, tuples, sets and dictionary also

In [78]:
def example_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

example_function(a=1, b=2, c=3)

a: 1
b: 2
c: 3

In [ ]:
#We can pass key-value pairs, for any number of keyword arguments using '**'

# Thank you!